<h1>Search Results</h1>
<% unless @movies.empty? %>
    <%= will_paginate @movies %>
    <table class="phoenix_table" summary="Movie search results">
        <%= render :partial => 'shared/movie', :collection => @movies %>
    </table>
    <%= will_paginate @movies %>
<% end %>
