<div class="push-4 last">
  <%= form_tag '/movies/index', :method => 'get' do %>
      <%= label_tag 'search', 'Find movie' %>
      <%= text_field_tag :search %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>
<div class="span-18">
  <hr>
  <% if user_signed_in? %>
    <div class="box span-12 push-1">
      <h1>Making a Selection</h1>
      <ol class="guide">
        <li>Search for a movie
        <li>Select the movie to bring up the movie information
        <li>Select the event to select for
        <li>Click "Select"
      </ol>
    </div>
  <% end %>
</div>
