<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome <%= @user.username %>, to GarageFilmFestival.org</h1>
    <p>
      You have successfully signed up.,
      your username is: <%= @user.username %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= new_user_session_url %>.
    </p>
    <p>Thanks for joining and enjoy the movies!</p>
  </body>
</html>
