body {
  background:white;
}
h1 { 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 24px; 
  color: #cc0000;
  text-shadow: 1px 1px 3px #959595;
}

h3 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: large;
  color: gray;
  text-shadow: 1px 1px 3px #aaa;
}

.largefont {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: large;
}

#content {
  background:white;
  margin: 10px;
}

a.signup_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 150px;
    color: #fff;
    background: #f60;
    font-size: 150%;
    padding: 15px;
}

#mainview {
  display: block;
  background: #white;
  border-radius: 16px; /*w3c border radius*/
  -webkit-border-radius: 16px; /* webkit border radius */
}
/* header styling */
#header {
  background:#333;
  border-color: blue;
  border-style: solid;
  padding-top: 10px;
}

#titlebanner {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 200%;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 5px #959595;
  padding-left: 10px;
}

#betabanner {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 150%;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 5px #959595;
  padding-left: 10px;
}

#header a {
    text-decoration: none;
    color: white;
}

#sidebar {
  background: white;
  min-height: 600px;
  padding-top: 20px;
}

.right {
  text-align: right;
}

.logininfo {
  color: black;
  text-align: right;
}

.logininfo a{
  text-decoration: none;
  color: blue;
}

.logininfo a:hover {
  text-decoration: underline;
}

.action_link {
  display: block;
  text-align: center;
  background: #333;
  border:1px solid gray;
  border-radius: 8px; /*w3c border radius*/
  -webkit-border-radius: 8px; /* webkit border radius */
  box-shadow: 3px 3px 4px rgba(0,0,0,.5); /* w3c box shadow */
  -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.5); /* webkit box shadow */
  padding: 10px;
  text-decoration: none;
  color: #ccc;
  font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  font-size:14px;
	/*font-weight:bold;*/
/*  font-family: "Verdana", sans-serif;*/
  margin-bottom: 5px;
}

.action_link:hover {
  background: #2580a2;
  color: #ccc;
  box-shadow: 1px 1px 1px rgba(0,0,0,.5); /* w3c box shadow */
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.5); /* webkit box shadow */
}

.member_buttons {
  text-align: center;
}

.member_link {
  display: inline;
  text-align: center;
  background: lightblue;
  border:1px solid gray;
  border-radius: 8px; /*w3c border radius*/
  -webkit-border-radius: 8px; /* webkit border radius */
  box-shadow: 3px 3px 4px rgba(0,0,0,.5); /* w3c box shadow */
  -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.5); /* webkit box shadow */
  padding: 5px;
  text-decoration: none;
  color: black;
  font-family: "Verdana", sans-serif;
  margin-bottom: 5px;
}

.member_link:hover {
  background: #ff6;
  color: black;
  box-shadow: 1px 1px 1px rgba(0,0,0,.5); /* w3c box shadow */
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.5); /* webkit box shadow */
}

.member_button {
  background: #333;
  border:1px solid gray;
  border-radius: 8px; /*w3c border radius*/
  -webkit-border-radius: 8px; /* webkit border radius */
  box-shadow: 3px 3px 4px rgba(0,0,0,.5); /* w3c box shadow */
  -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.5); /* webkit box shadow */
  padding: 10px;
  color: #ccc;
  font-family: "Verdana", sans-serif;
  margin-bottom: 5px;
}

.member_button:hover {
  background: #ff6;
  color: #000;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,.5); /* w3c box shadow */
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.5); /* webkit box shadow */
}

.gradientbuttons li a:hover{
color: lightyellow;
}

#comment_info {
  width: 100px;
}

#comment_text {
  font-style: normal;
  color: #222;
}

.comment_textarea {
  width: 80%;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

#row_image {
	background-color: white;
	vertical-align: center;
	padding:0px;
	margin: 0px;
	text-align: right;
	width: 40px;
}

#row_buttons {
	background-color: white;
	vertical-align: center;
	text-align: left;
	font-style: normal;
}

#votes_cell {
  width: 60px;
}

#votes {
	background-color: lightblue;
	vertical-align: center;
	text-align: center;
	width: 60px;
	margin: 5px;
	background-color: lightgray;
	padding-top: 5px;
  padding-bottom: 5px;
}

#selection_info {
  width: 250px;
  padding-left: 10px;
}

#session_time {
  text-align: center;
  width: 100px;
}

#selection_buttons {
	background-color: white;
	vertical-align: center;
	text-align: left;
	width: 100px;
}

#selections {
}

#selections li {
   list-style-type:none;
   padding:0;
   margin:0;
}

#movie_rating_cell {
  width: 70px;
  text-align: center;
}

#movie_rating_box {
  padding: 5px;
  border-width: 2px;
  background-color: lightgray;
}

#movie_rating {
  font-weight: bold;
  font-size: 200%;
}

#movie_title {
  font-weight: bold;
  font-size: 150%;
}

#movie_title a {
  font-weight: bold;
  text-decoration: none;
}

#movie_title a:hover {
  text-decoration: none;
}

#movie_overview{
  font-style: italic;
  color: seagreen;
}
#movie_thumbnail {
	background-color: white;
	vertical-align: center;
	margin-right: 0px;
	text-align: right;
	width: 40px;
}

#movie_release {
  text-align: right;
}
#movie_buttons {
  border-width: 0px;
	background-color: white;
	vertical-align: center;
	text-align: left;
}

#invitation_inviter {
  font-size: 125%;
}

#invitation_event {
  font-size: 150%;
  font-weight: bold;
  font-style: italic;
}

#user_name {
  font-size: 150%;
  font-weight: bold;
}

.invitation_button {
  width: 50px;
  background: white;
}

table.event_details {
	border-width: 0px;
	border-spacing: 0px 0px;
	border-collapse: separate;
	background-color: white;
}

.event_name {
  font-size: 150%;
  font-weight: bold;
  padding-left: 10px;
}

.event_name a {
  font-weight: bold;
  text-decoration: none
}

.event_name a:hover {
  font-weight: bold;
  text-decoration: none
}

.event_big_name {
  font-size: 200%;
  font-weight: bold;
  vertical-align: top;
  font-family: Verdana, Helvetica, sans-serif;
}
.event_description {
  padding-left: 15px;
  font-style: italic;
  color: seagreen;
}
.event_owner {
  font-size: 125%;
  padding-left: 10px;
}

.event_quota {
  font-size: 125%;
  color: seagreen;
}

.open {
  font-size: 125%;
  padding: 3px 10px;
  background: lightgreen;
}

.closed {
  font-size: 125%;
  padding: 3px 10px;
  background: tomato;
}

.event_detail_name {
  width: 30%;
  text-align: right;
}
.event_detail_value {
  background: lemonchiffon;
  padding: 3px 10px;
}

.event_detail_quota {
  background: lightblue;
  padding: 3px 10px;
}

#event_buttons {
	background-color: white;
	vertical-align: center;
	text-align: left;
}

#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}

.menu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	background:#333;
}
.menu ul{
	height:30px;
	list-style:none;
	margin:0;
	padding:0;
}
.menu li{
	float:left;
	padding:0px;
}
.menu li a{
	background:#333;
	color:#ccc;
	display:block;
	font-weight:normal;
	line-height:30px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
}
.menu li a:hover, .menu ul li:hover a{
	background: #2580a2;
	color:#FFFFFF;
	text-decoration:none;
}
.menu li ul{
	background:#333;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:150px;
	z-index:200;
	/*top:1em;
	/*left:0;*/
	}
.menu li:hover ul{
	display:block;
		
}
.menu li li {
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:150px;
}
.menu li:hover li a{
	background:none;
		
}
.menu li ul a{
	display:block;
	height:35px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
}
.menu li ul a:hover, .menu li ul li:hover a{
	background:#2580a2;
	border:0px;
	color:#ffffff;
	text-decoration:none;
}
.menu p{
	clear:left;
}	

/* pagination */
.pagination {
  background: white;
  /* self-clearing method: */ 
}
.pagination a, .pagination span, .pagination em {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px; 
}
.pagination span.disabled {
  color: #999;
  border: 1px solid #DDD; 
}
.pagination em {
  font-weight: bold;
  background: #aaf;
  color: white;
  border: 1px solid #aaf; 
}
.pagination a {
  text-decoration: none;
  color: #111111;
  border: 1px solid #aaf; 
}
  .pagination a:hover, .pagination a:focus {
    color: #00a;
    border-color: #00a; 
}
.pagination .page_info {
  background: #aaf;
  color: white;
  padding: .4em .6em;
  width: 22em;
  margin-bottom: .3em;
  text-align: center; 
}
  .pagination .page_info b {
    color: #003;
    background: #6aa6ed;
    padding: .1em .25em; 
}
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; 
}
* html .pagination {
  height: 1%; 
}
*:first-child+html .pagination {
  overflow: hidden; 
}

.small-gravatar {
  height: 30px;
}

#move_cell {
  background-color: white;
  width:20px;
  padding:0px;
}

.handle {
  cursor: move;
}

.indent {
  padding-left:1em;
}

.guide {
  font-size: large; 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: gray;
  text-shadow: 1px 1px 3px #bbb;
}

/* TABLE STYLING */
table.zebra tbody tr:nth-child(even) td, tbody tr.even td 
{
  background:#e5ecf9;
}

.phoenix_table {
 font-size: 95%;
 font-family: 'Lucida Grande', Helvetica, verdana, sans-serif;
 background-color:#fff;
 border-collapse: collapse;
 width: 100%;
 line-height: 1.2em;
}
.phoenix_table caption {
 font-size: 30px;
 font-weight: bold;
 color: #002084;
 text-align: left;
 padding: 10px 0px;
 margin-bottom: 2px;
 text-transform: capitalize;
}
.phoenix_table thead th {
 border-right: 2px solid #fff;
 color:#fff;
 text-align:center;
 padding:2px;
 height:25px;
 background-color: #004080;
}
.phoenix_table tfoot {
 color:#002084;
 padding:2px;
 text-transform:uppercase;
 font-size:1.2em; 
 font-weigth: bold;
 margin-top:6px;
 border-top: 6px solid #004080;
 border-bottom: 6px solid #004080;
}
.phoenix_table tbody tr {
 background-color:#fff;
 border-bottom: 2px solid #c0c0c0;
}
.phoenix_table tbody td {
 color:#002084;
 padding:5px;
 text-align:left;
}
.phoenix_table tbody th {
 text-align:left;
 padding: 2px;
}
.phoenix_table tbody td a, tbody th a {
 color:darkblue;
 text-decoration:underline;
 font-weight:normal; 
}
.phoenix_table tbody td a:hover, tbody th a:hover {
 text-decoration:underline;
 color: #38a;
}

.phoenix_table .title_link {
  font-weight: bold;
  font-size: 125%;
  color: black;
}

.phoenix_table .title_link a {
  font-weight: bold;
  text-decoration: none;
}

.phoenix_table .title_link a:hover {
  text-decoration: none;
}

form.rating_form input#rating_submit { display: none; }
form.rating_form input.rating_button { display: none; }
form.rating_form label.rating { cursor: pointer; display: block; height: 25px; width: 25px; float: left; }
form.rating_form label.rating span { display: none; }
form.rating_form label.rating { background-image: url(../images/star-dim.png); }
form.rating_form label.rating.bright { background-image: url(../images/star-bright.png); }
form.rating_form label.rating.glow { background-image: url(../images/star-glow.png); }

/* SIDEBAR */
.sidebarmenu{
width: 175px; /*width of menu*/
}

.sidebarmenu .headerbar{
font: bold 13px Verdana;
color: white;
background: #333;
margin-bottom: 0; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 7px 0 7px 31px; /*31px is left indentation of header text*/
}

.sidebarmenu ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
}

.sidebarmenu ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
}

.sidebarmenu ul li a{
font: normal 12px Arial;
color: black;
background: #E9E9E9;
display: block;
padding: 5px 0;
line-height: 17px;
padding-left: 8px; /*link text is indented 8px*/
text-decoration: none;
}

.sidebarmenu ul li a:visited{
color: black;
}

.sidebarmenu ul li a:hover{ /*hover state CSS*/
color: white;
background: #2580a2;
}
