
a.signup_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 150px;
    color: #fff;
    background: #1f1f8f;
    font-size: 150%;
    font-weight: bold;
    padding: 15px;
}

/* header styling */
#header {
  background:#1f1f8f;
  font-family:"Times New Romain",serif;
  font-size: 200%;
  color: white;
}

#header a {
    text-decoration: none;
    color: white;
}

#logininfo a{
  text-decoration: none;
}

#logininfo a:hover {
    text-decoration: underline;
}

#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}

/* style a button to look like a link */
.button_as_hyperlink {
  background-color: transparent;
  border: none;
  color: #1f44ff;
  text-decoration: underline;
}

.button_as_hyperlink:hover {
  cursor: pointer;
}

