body {
  background:#333;
}

#content {
  background:white;
  margin: 10px;
}

a.signup_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 150px;
    color: #fff;
    background: #f60;
    font-size: 150%;
    padding: 15px;
}

#mainview {
  background: #white;
  border-radius: 16px; /*w3c border radius*/
  -webkit-border-radius: 16px; /* webkit border radius */
}
/* header styling */
#header {
  background:#333;
  border-color: blue;
  border-style: solid;
  padding-top: 10px;
}

#titlebanner {
  font-family: "Verdana", sans-serif;
  font-size: 200%;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 5px #959595;
}

#header a {
    text-decoration: none;
    color: white;
}

#sidebar {
  background: none;
  min-height: 600px;
  padding-top: 20px;
}

.logininfo {
  color: white;
  text-align: right;
}

.logininfo a{
  text-decoration: none;
  color: yellow;
}

.logininfo a:hover {
  text-decoration: underline;
}

.action_link {
  display: block;
  text-align: center;
  background: #333;
  border:1px solid gray;
  border-radius: 8px; /*w3c border radius*/
  -webkit-border-radius: 8px; /* webkit border radius */
  box-shadow: 3px 3px 4px rgba(0,0,0,.5); /* w3c box shadow */
  -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.5); /* webkit box shadow */
  padding: 10px;
  text-decoration: none;
  color: #ccc;
  font-family: "Verdana", sans-serif;
  margin-bottom: 5px;
}

.action_link:hover {
  background: #ff6;
  color: #000;
  box-shadow: 1px 1px 1px rgba(0,0,0,.5); /* w3c box shadow */
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.5); /* webkit box shadow */
}

.member_buttons {
  text-align: center;
}

.member_link {
  display: inline;
  text-align: center;
  background: #333;
  border:1px solid gray;
  border-radius: 8px; /*w3c border radius*/
  -webkit-border-radius: 8px; /* webkit border radius */
  box-shadow: 3px 3px 4px rgba(0,0,0,.5); /* w3c box shadow */
  -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.5); /* webkit box shadow */
  padding: 10px;
  text-decoration: none;
  color: #ccc;
  font-family: "Verdana", sans-serif;
  margin-bottom: 5px;
}

.member_link:hover {
  background: #ff6;
  color: #000;
  box-shadow: 1px 1px 1px rgba(0,0,0,.5); /* w3c box shadow */
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.5); /* webkit box shadow */
}

.member_button {
  background: #333;
  border:1px solid gray;
  border-radius: 8px; /*w3c border radius*/
  -webkit-border-radius: 8px; /* webkit border radius */
  box-shadow: 3px 3px 4px rgba(0,0,0,.5); /* w3c box shadow */
  -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.5); /* webkit box shadow */
  padding: 10px;
  color: #ccc;
  font-family: "Verdana", sans-serif;
  margin-bottom: 5px;
}

.member_button:hover {
  background: #ff6;
  color: #000;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,.5); /* w3c box shadow */
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.5); /* webkit box shadow */
}

.gradientbuttons li a:hover{
color: lightyellow;
}

/* TABLE STYLING */

table.phoenix_table tbody tr:nth-child(even) td, tbody tr.even td {background:lemonchiffon;}
table.event_details tbody tr:nth-child(even) td, tbody tr.even td {background:white;}

table.phoenix_table {
  border-width: 0px;
	border-spacing: 6px 10px;
	border-collapse: separate;
	background-color: white;
}

table.phoenix_table td {
	border-width: 0px;
	padding: 2px;
	border-style: solid;
	border-color: lemonchiffon;
	vertical-align: center;
	background-color: lemonchiffon;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

#row_image {
	background-color: white;
	vertical-align: center;
	margin-right: 0px;
	text-align: right;
	width: 40px;
}

#row_buttons {
	background-color: white;
	vertical-align: center;
	text-align: left;
}

#votes {
	background-color: lightblue;
	vertical-align: center;
	text-align: center;
}

#selection_info {
  width: 250px;
  padding-left: 10px;
}

#selection_buttons {
	background-color: white;
	vertical-align: center;
	text-align: left;
	width: 100px;
}

#movie_rating_cell {
  width: 70px;
  text-align: center;
  background-color: lightblue;
}

#movie_rating {
  font-weight: bold;
  font-size: 200%;
}

#movie_title {
  font-weight: bold;
  font-size: 150%;
}

#movie_overview{
  font-style: italic;
  color: seagreen;
}
#movie_thumbnail {
	background-color: white;
	vertical-align: center;
	margin-right: 0px;
	text-align: right;
	width: 40px;
}

#movie_release {
  text-align: right;
}
#movie_buttons {
  border-width: 0px;
	background-color: white;
	vertical-align: center;
	text-align: left;
}

#invitation_inviter {
  font-size: 150%;
}

#invitation_event {
  font-size: 150%;
  font-weight: bold;
  font-style: italic;
}

#user_name {
  font-size: 150%;
  font-weight: bold;
}

.invitation_button {
  width: 50px;
}

table.event_details {
	border-width: 0px;
	border-spacing: 0px 0px;
	border-collapse: separate;
	background-color: white;
}

.event_name {
  font-size: 150%;
  font-weight: bold;
  padding-left: 10px;
}
.event_big_name {
  font-size: 200%;
  font-weight: bold;
  vertical-align: top;
  font-family: Verdana, Helvetica, sans-serif;
}
.event_description {
  padding-left: 15px;
  font-style: italic;
  color: seagreen;
}
.event_owner {
  font-size: 125%;
  padding-left: 10px;
}

.event_quota {
  font-size: 125%;
  color: seagreen;
}

.open {
  font-size: 125%;
  padding: 3px 10px;
  background: lightgreen;
}

.closed {
  font-size: 125%;
  padding: 3px 10px;
  background: tomato;
}

.event_detail_name {
  width: 30%;
  text-align: right;
}
.event_detail_value {
  background: lemonchiffon;
  padding: 3px 10px;
}

.event_detail_quota {
  background: lightblue;
  padding: 3px 10px;
}

.date {
	vertical-align: center;
	text-align: center;
	display:block;
	font-family: Georgia, serif;
	min-width: 60px;
	max-width: 60px;
}
.month {
	display:block; 
	font-size: .9em;
	margin:0; 
	padding:0;
	background: lightblue;
}
.day { 
	display:block; 
	font-size:1.6em;
	font-weight: bold;
	margin:0; 
	padding:0;  
	background:#fff;
}
.year { 
	display:block; 
	font-size: .9em;
	margin:0; 
	padding:0;  
	background: lightblue;
}

#event_buttons {
	background-color: white;
	vertical-align: center;
	text-align: left;
}

#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}

/* style a button to look like a link */
.button_as_hyperlink {
  background-color: transparent;
  border: none;
  color: #1f44ff;
  text-decoration: underline;
}

.button_as_hyperlink:hover {
  cursor: pointer;
  color: #f544ff;
}

.menu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	background:#333;
}
.menu ul{
	height:30px;
	list-style:none;
	margin:0;
	padding:0;
}
.menu li{
	float:left;
	padding:0px;
}
.menu li a{
	background:#333 url("images/seperator.gif") bottom right no-repeat;
	color:#ccc;
	display:block;
	font-weight:normal;
	line-height:30px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
}
.menu li a:hover, .menu ul li:hover a{
	background: #2580a2 url("images/hover.gif") bottom center no-repeat;
	color:#FFFFFF;
	text-decoration:none;
}
.menu li ul{
	background:#333;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:150px;
	z-index:200;
	/*top:1em;
	/*left:0;*/
	}
.menu li:hover ul{
	display:block;
		
}
.menu li li {
	background:url('images/sub_sep.gif') bottom left no-repeat;
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:150px;
}
.menu li:hover li a{
	background:none;
		
}
.menu li ul a{
	display:block;
	height:35px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
}
.menu li ul a:hover, .menu li ul li:hover a{
	background:#2580a2 url('images/hover_sub.gif') center left no-repeat;
	border:0px;
	color:#ffffff;
	text-decoration:none;
}
.menu p{
	clear:left;
}	

/* pagination */
.pagination {
  background: white;
  /* self-clearing method: */ 
}
.pagination a, .pagination span, .pagination em {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px; 
}
.pagination span.disabled {
  color: #999;
  border: 1px solid #DDD; 
}
.pagination em {
  font-weight: bold;
  background: #aaf;
  color: white;
  border: 1px solid #aaf; 
}
.pagination a {
  text-decoration: none;
  color: #111111;
  border: 1px solid #aaf; 
}
  .pagination a:hover, .pagination a:focus {
    color: #00a;
    border-color: #00a; 
}
.pagination .page_info {
  background: #aaf;
  color: white;
  padding: .4em .6em;
  width: 22em;
  margin-bottom: .3em;
  text-align: center; 
}
  .pagination .page_info b {
    color: #003;
    background: #6aa6ed;
    padding: .1em .25em; 
}
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; 
}
* html .pagination {
  height: 1%; 
}
*:first-child+html .pagination {
  overflow: hidden; 
}

.small-gravatar {
  height: 30px;
}