<tr>
  <td id="row_image"><%= image_tag(attendee.avatar.url(:thumb)) %>
  <td id="user_name"><%= attendee.username %></td>
  <td id="row_buttons">
  <% if current_user.authorized?(@event.user_id) %>
    <%= link_to 'Remove',attendee, :method => :delete, :confirm => 'Are you sure you want to remove this attendee?' %>
  <% end %>
  </td>
</tr>
