<div class="span-18 last box">
  <div class="span-1"><%= image_tag 'error.png',:height=>'30' %></div>
  <div class="span-17 last"><h3>Error</h3></div>
  <p class="indent push-1 span-16 last">Sorry, something went wrong while looking up data from the movie database. Try again and if the problem persists you may need to return later.</p>
</div>
