<h1>Listing events</h1>

<table>
  <tr>
    <th />
    <th>Name</th>
    <th>Owner</th>
    <th>Public</th>
    <th>Start</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => 'shared/event', :collection => @events %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
