<h1><%= link_to(@event.name,@event) %></h1>
<h3>Schedule Settings</h3>
<div class="box">
  <% form_tag build_schedule_event_path(@event), :method => 'get' do %>
      Movies per week
      <%= number_field_tag :mpw %><br>
      Preferred start time
      <%= select_datetime @event.start %><br>
      <%= submit_tag "Create Schedule" %>
  <% end %>
</div>
