<% if not @official.empty? %>
    <h3>Offical Selections</h3>
    <div class="selections">
      <table class="selections">
          <%= render :partial => 'shared/selection', :collection => @official %>
      </table>
      <%= will_paginate @official,:param_name => 'official_page'  %>
    </div>
<% end %>
<% if not @unofficial.empty? %>
    <h3>Unoffical Selections</h3>
    <div class="selections">
      <table class="selections">
          <%= render :partial => 'shared/selection', :collection => @unofficial %>
      </table>
      <%= will_paginate @unofficial,:param_name => 'unofficial_page'  %>
    </div>
<% end %>
