<% content_for(:sidebar) do %>
  <%= render :partial => 'shared/sidebar_event',:object => @event %>
<% end %>
<h1><%= @event.name %></h1>
<h3>Voting Log</h3>
<% if not @votes.empty? %>
  <table class="phoenix_table">
    <tbody>
      <%= render :partial => 'shared/vote', :collection => @votes %>
    </tbody>
  </table>
<% else %>
<p class="indent">No votes have been registered.</p>
<% end %>
<%= link_to 'Event home',@event %>