<h1>About</h1>
<p>This web app was written as a private project, originally for the sole purpose of managing my own dvd festival with my friends. I expanded the project a little to try and make a site that helps everyone share movies with their friends in a casual and fun way. I had to learn A LOT of web development along the way and I apologies for the rough edges, I'll endeavour to smooth things out as we go. If you have any questions or feedback you can contact me at <%= mail_to "garagefilmfestival@gmx.com" %>

--Shane</p>
