<div class="header">
    <h1>Welcome</h1>
</div>
<p>Welcome to myfilmfestival.com.au where you can create and manage your own movie clubs, film festivals, dvd parties and more. This site lets you create an event, invite friends, vote on movies for the official selection, schedule movie sessions, keep everyone up to date with notifications and much more. Fust follow the getting started instructions below and you'll be up an running in no time.</p>
<hr />
<div class="span-10 box">
    <div class="header">
        <h1>Getting Started</h1>
    </div>
    <ul>
        <li>Sign up
        <li>Create an event
        <li>Invite your friends
        <li>Launch the event
    </ul>
</div>
