<h1>Welcome</h1>
<div class="span-18 last">
  <p>Welcome to GarageFilmFestival.org where you can create and manage your own movie festival. It's all about sharing movies with your friends. This site lets you create an event, invite friends, vote on movies for the official selection, schedule movie sessions, keep everyone up to date with notifications and much more. Just follow the getting started instructions below and you'll be up an running in no time. Enjoy the movies!</p>
</div>
<% if not user_signed_in? %>
  <div class="span-16 box last">
      <%= link_to "Sign up now!",new_user_registration_path, :class => "signup_button" %>
  </div>
<% end %>
  <hr />
<div class="span-8">
  <div class="box">
  <h1>Getting Started</h1>
  <ol class="guide">
      <li>Sign up
      <li>Create an event
      <li>Invite your friends
      <li>Start selecting and voting
  </ol>
  </div>
</div>
<div class="span-9 push-1 last">
  <%= image_tag('free_stamp.jpg',:alt => 'free', :height => 150 ) %>
</div>
<div class="span-24">
  <% unless @recent_movies.empty? %>
  <h3>Latest Movies</h3>
    <% @recent_movies.each do |m| %>
      <%= link_to insert_poster(m,90),:controller => 'movies', :action => 'show', :id => m.id %>
    <% end %>
  <% end %>
</div>
