<h1><%= @user.email %><h1>

<% if not @user.accepted_events.empty? %>
    <h3>Attending Events</h3>
    <div class="attending_events">
        <table class="attending_events_table">
            <%= render :partial => 'shared/event', :collection => @user.accepted_events %>
        </table>
    </div>
<% end %>

<% if not @user.open_invitations.empty? %>
    <h3>Open Invitations</h3>
    <div class="invitations">
        <table class="invitations_table">
            <%= render :partial => 'shared/invitation', :collection => @user.open_invitations %>
        </table>
    </div>
<% end %>
