<div id="footer">
  <div class="push-6 span-8 last">
    <span class="quiet">Copyright &copy; 2010</span> | 
    <a href="#" class="quiet">Privacy Policy</a> | 
    <a href="#" class="quiet">Security Policy</a>
  </div>
</div>
