<div id="header" class="span-12">
    <%= link_to logo, root_path %>
</div>
<div class="right last">
    <%= link_to "login","#" %>
    <%= link_to "sign up","#" %>
</div>
<hr />
<div id="subheader" class="span-24 push-2 last">
    <h3 class="alt">Create. Invite. Enjoy with friends</h3>
</div>

