<div id="header" class="span-24 last">
    <%= link_to logo, root_path %>
</div>
<hr />
<div id="subheader" class="span-24 push-2 last">
    <h3 class="alt">Create. Invite. Enjoy with friends</h3>
</div>

